.nav-link:hover,
.nav-link:focus,
.nav-link::after {
  background-color: #fff;
  -webkit-text-fill-color: black;
  transition: 0.5s all linear;
}
.navbar-text:focus,
.navbar-text:hover {
  -webkit-text-fill-color: #999999;
  cursor: pointer;
  transition: 0.2s all linear;
}
.nav-link > a,
.navbar-text > a {
  color: #999999;
  text-decoration: none;
}
