body {
  background: #0d1117 !important;
  /* -webkit-text-fill-color: #fff; */
}
li.page-item.active > .page-link {
  background-color: #000000c1 !important;
  border-color: #000000c1 !important;
}

.Toastify__close-button {
  color: #fff;
}
