body {
  background: #0d1117 !important;
  /* -webkit-text-fill-color: #fff; */
}
li.page-item.active > .page-link {
  background-color: #000000c1 !important;
  border-color: #000000c1 !important;
}

.Toastify__close-button {
  color: #fff;
}

.inf-content{
  border:1px solid #DDDDDD;
  -webkit-border-radius:10px;
  -moz-border-radius:10px;
  border-radius:10px;
  box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.3);
}		
